# Environment
.env
.env.*
!/.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local data
pgdata/

# Dependencies
node_modules/

# Logs
logs/

# Portable services
/services/

# Bundled Python
backend/python/

# Redis dump
dump.rdb

# Temp files
backend/token.txt

